# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
!Jenkinsfile.signed.ipa
*.xcuserstate
project.xcworkspace
Pods
.history/*
.project
.settings
*.mobileprovision

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.classpath
*.class


# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Appium
appium.log
appium.logs

# Robot
TestResults

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/README.md
**/fastlane/test_output/
**/android/.bundle/
**/android/vendor/
android.json
android_release.p12
**/fastlane/buildNumber.txt
**/fastlane/formattedNotes.txt
**/fastlane/versionNumber.txt

# Store enterprise provisioning profiles in the Git repo
!**/fastlane/profiles/*.mobileprovision

# Bundle artifact
*.jsbundle

# dotenv
.env.secret

# lerna
lerna-debug.log

# detox
tmp/
tmp.*
__diff_output__/

# bundlesize
*.bundle
*.bundle.*
*.bundle-analysis.*

# jest coverage output
packages/**/coverage

# CocoaPods
**/ios/Pods/

# Android
**/android/gems/

# app
packages/app/src/i18n/messages
packages/app/!debug.keystore
packages/app/ios/build-storybook/

# i18n
# Android translations
**/localizable.json

# FBT files
packages/app/i18n/mergedCrowdin/
!packages/app/i18n/fbt/translationScriptInput/.gitkeep
**/i18n/fbt/**/*.json
!**/i18n/fbt/.enum_manifest.json

# meeting E2E tests
packages/react-native-meeting/e2e-tests/config/testResourceConfig.ts
packages/react-native-meeting/e2e-tests/config/testAccountConfig.ts
packages/react-native-meeting/e2e-tests/config/deviceTypesConfig.ts
packages/react-native-meeting/e2e-tests/screenshots/*.png

**/.history/

# Container
container_autogenerated
app_builds
index.android.bundle
# Ignore all res folders : react-native bundle task use /res as assets-folder
**/android/app/src/main/res/**
# DRAWABLE : Exclude directory so we can exclude specifics files
!**/android/app/src/main/res/drawable-*/
**/android/app/src/main/res/drawable-*/*
!**/android/app/src/main/res/drawable-*/logo_icon.webp
!**/android/app/src/main/res/drawable-*/logo_background.webp
!**/android/app/src/main/res/drawable-*/notification_logo_icon.webp
# LAYOUT : Exclude directory so we can exclude specifics files
!**/android/app/src/main/res/layout/
**/android/app/src/main/res/layout/*
!**/android/app/src/main/res/**/launch_screen.xml
# MIPMAP : Exclude directory so we can exclude specifics files
!**/android/app/src/main/res/mipmap-*/
**/android/app/src/main/res/mipmap-*/*
!**/android/app/src/main/res/mipmap-*/ic_launcher*
# RAW : Exclude directory so we can exclude specifics files
!**/android/app/src/main/res/raw/
**/android/app/src/main/res/raw/*
!**/android/app/src/main/res/raw/*.mp3
!**/android/app/src/main/res/raw/*.m4a
!**/android/app/src/main/res/raw/keep.xml
# VALUES : Exclude directory so we can exclude specifics files
!**/android/app/src/main/res/values/*
!**/android/app/src/main/res/values/*

main.jsbundle
local
output

!packages/react-native-container/**/debug.keystore
junit.xml

.watchman-*

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# We are not using the Zero-Installs yet, so we are excluding pnp as well
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

**/__pycache__/

**/github_release_dump.bin
